.container {
    padding: 20px;
    background-color: #d9dce5;
    position: center;
    border: 1px solid black;
    margin: 5% 20%;
}
.labels{
    font-family: "Times New Roman";
    font-size: 20px;
}
#labelName{
    padding-right: 70px;
}
.inputRow{
    margin:2% 15% 2% 15%;
}
#setBtn{
    margin:1% 20% 1% 20%;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
#labelBirthday{
    padding-right: 12px;
}
#error{
    margin:1% 15% 1% 15%;
    font-family: "Lucida Console";
    font-size: 16px;
}
#result{
    margin:1% 15% 1% 15%;
    font-family: "Lucida Console";
    font-size: 16px;
}
.select{


    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#name{
    width:40%;
    padding: 6px 20px;
    margin: 8px 0;
    font-family: "Times New Roman";
    font-size: 20px;
}
